@import "../../scss/index";

button {
  cursor: pointer;
  font-family: $font-family;
}

.btn {
  position: relative;
  @include size(35vw, 40px);
  padding: 10px;
  color: $white;
  @include fontSize(0.4rem, 2vw, 0.8rem);
  border: transparent;
  outline: transparent;
  cursor: pointer;
  background-color: #af973d;
  transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  @include flex(center, center);
  gap: 1rem;
  &:hover {
    background-color: $white;
    color: $black;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  &_arrow {
    @include fontSize(0.8rem, 2vw, 1.4rem);
  }
  @include minWidth($lg) {
    padding: 10px 20px;
    @include size(150px, 40px);

    @include fontSize(0.6rem, 2vw, 1rem);
  }
}
