$body-bg: #ffffff;
$main-color: #ff0000;
$btn-color: #B1963B;

$first-color: #898050;
$secondary-color: #1e1e1e;

$white: #fff;
$black: #000;

$font-family: "Montserrat", sans-serif;
$font-family2: 'Noto Serif', serif;

$sm: 576px;
$md: 768px;
$lg: 992px;
$x-lg: 1200px;
$xx-lg: 1440px;